{{ define "head" }}
  <!-- Load threejs script: -->
  {{ $viewerJS := resources.GetMatch "js/viewer.js" | js.Build }}
  {{ with $viewerJS }}
    <script type="module" src="{{ $viewerJS.RelPermalink }}"></script>
  {{ end }}

  <!-- Load css: -->
  {{ $options := dict "transpiler" "dartsass" "includePaths" (slice "node_modules") }}
  {{ $listingStylesheet := resources.GetMatch "css/model.scss" | css.Sass $options | postCSS | minify | fingerprint }}
  {{ with $listingStylesheet }}
    <link rel="stylesheet" href="{{ $listingStylesheet.RelPermalink }}">
  {{ end }}
{{ end }}

{{ define "main" }}
  <h1 class="model-title">{{ .Title }}</h1>
  {{ with .Summary }}
    <div class="model-summary">{{ . }}</div>
  {{ end }}

  {{ $model := .Resources.GetMatch .Params.model }}
  {{ $material := .Resources.GetMatch .Params.material }}
  <!-- Consider adding an else for when model or material are not correctly uploaded -->
  {{ if and $model $material }}
    <div class="model-canvas" id="viewer" data-model-url="{{ $model.RelPermalink }}" data-material-url="{{ $material.RelPermalink }}"></div>
  {{ end }}
{{ end }}
