.model-title {
  font-size: 3rem;
  margin: 5rem 1rem 1rem 15rem;
  color: white;
}

.model-summary {
  font-size: 1rem;
  margin: 0.75rem 1rem 1rem 15rem;
  color: #666;
}

.model-canvas{
  margin: 0.75rem 15rem 1rem 15rem;
}
